In [1]:
import numpy as np
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt
from hmmlearn import hmm

import os
import pickle

In [2]:
import yfinance as yf
yf.pdr_override()

In [3]:
tickerlist=["^MERV", 
            "GGAL", "GGAL.BA", 
            "YPF", "YPFD.BA",
            "EDN", "EDN.BA",
            "BMA", "BMA.BA"] 
# sumar tamb BBAR/BBAR? TEO/TECO2?

In [4]:
factordict={"GGAL": 10, "YPF":1, "EDN":20, "BMA":10, "BBAR":3, "TEO":5}

In [5]:
stocks=tickerlist.copy()
stocks.remove("^MERV")
stocklist=[]

for i in range(0, len(stocks), 2):
    stocklist.append((stocks[i], stocks[i+1]))
del stocks
stocklist

[('GGAL', 'GGAL.BA'), ('YPF', 'YPFD.BA'), ('EDN', 'EDN.BA'), ('BMA', 'BMA.BA')]

In [6]:
ohlclist=["Open", "High", "Low", "Close"]

In [7]:
objectlist=[]

for ticker in tickerlist:
    objectlist.append(yf.Ticker(ticker))

In [8]:
# get historical market data
data={}
start='2013-01-01'
end="2023-06-01"

In [16]:
name=f'dataset_{start}_{end}_{str(tickerlist)}.pickle'
dataroute=os.path.join("..", "..",  "data")
filename=os.path.join(dataroute, name)

In [17]:
if not os.path.exists(filename):
    for ticker in objectlist:
        # descargo data en un diccionario[ticker]
        data[ticker.ticker] = ticker.history(start=start, end=end)
        # guardo en un pickle
    with open(filename, 'wb') as handle:
        pickle.dump(data, handle, protocol=pickle.HIGHEST_PROTOCOL)
            
else:
    with open(filename, 'rb') as handle:
        data=pickle.load(handle)

In [46]:
# Another example
model = hmm.GaussianHMM(n_components=3, covariance_type="diag", n_iter=100)
K = 2# Number of sites
model.n_features = K # initialise that the model has size of observations =  K

In [47]:

# Create a random training sequence (only 1 sequence) with length = 100.
X1 = np.random.randn(100, K) # 100 observation for K sites
X1[:5]

array([[ 0.89235633,  0.28141464],
       [-1.3931979 , -2.27164473],
       [ 0.92917295, -1.05628851],
       [-0.97263267,  0.45002902],
       [ 0.71811569,  1.39895219]])

In [48]:
model.fit(X1)
# Sample the fitted model
X, Z = model.sample(3)
X

array([[1.94265845e-01, 1.06147711e+00],
       [9.31269736e-01, 2.19813807e-01],
       [6.05156713e-04, 2.39203078e+00]])

In [49]:
X1.shape

(100, 2)

In [51]:
data["GGAL"]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-01-02,5.965933,6.112495,5.802128,6.086631,342600,0.000,0
2013-01-03,6.034902,6.259056,5.957310,6.009038,147800,0.000,0
2013-01-04,6.043524,6.078009,5.896962,5.948689,42900,0.000,0
2013-01-07,5.888340,6.034902,5.845234,5.862476,69300,0.000,0
2013-01-08,5.888341,5.957311,5.707294,5.767643,133500,0.000,0
...,...,...,...,...,...,...,...
2023-05-24,11.020744,11.453873,10.789741,11.319122,671400,0.000,0
2023-05-25,11.261371,11.405748,11.011118,11.222871,225200,0.000,0
2023-05-26,11.193995,11.434623,11.020743,11.242121,252200,0.000,0
2023-05-30,11.165121,11.684876,10.924493,11.656000,326300,0.000,0
2023-05-31,11.620000,12.010000,11.450000,11.870000,576200,0.454,0