# Comparison

In [47]:
import pandas as pd
import numpy as np
import os

from statsmodels.tools.eval_measures import mse, meanabs, medianabs

In [51]:
from scripts.params import get_params

params = get_params()

In [48]:
dataroute=os.path.join("..",  "data")
dumproute=os.path.join("..",  "dump")
resultsroute=os.path.join("..",  "results")

In [49]:
all_residuals = {}

for filename in os.listdir(resultsroute):
    file_path = os.path.join(resultsroute, filename)
    if os.path.isfile(file_path) and 'residual' in filename:
        all_residuals[filename] = file_path

print(all_residuals)

{'GARCH_AR_^MERV_aic_residuals.pickle': '..\\results\\GARCH_AR_^MERV_aic_residuals.pickle', 'GARCH_AR_^MERV_bic_residuals.pickle': '..\\results\\GARCH_AR_^MERV_bic_residuals.pickle', 'HMM_univ_AR_^MERV_aic_residuals.pickle': '..\\results\\HMM_univ_AR_^MERV_aic_residuals.pickle', 'HMM_univ_AR_^MERV_bic_residuals.pickle': '..\\results\\HMM_univ_AR_^MERV_bic_residuals.pickle', 'VAR_multiv_AR_^MERV_aic_residuals.pickle': '..\\results\\VAR_multiv_AR_^MERV_aic_residuals.pickle', 'VAR_multiv_AR_^MERV_bic_residuals.pickle': '..\\results\\VAR_multiv_AR_^MERV_bic_residuals.pickle', 'VAR_univ_AR_^MERV_aic_residuals.pickle': '..\\results\\VAR_univ_AR_^MERV_aic_residuals.pickle', 'VAR_univ_AR_^MERV_bic_residuals.pickle': '..\\results\\VAR_univ_AR_^MERV_bic_residuals.pickle'}

In [55]:
residual_df = pd.DataFrame()
for name, dir in all_residuals.items():
    dict_with_dfs = pd.read_pickle(dir)
    for stock in dict_with_dfs.keys():
        print(name)
        if type(dict_with_dfs[stock])==pd.Series:
            df=pd.DataFrame(dict_with_dfs[stock])
        else:
            df=pd.DataFrame(dict_with_dfs[stock][f"{stock}_log_rets"])

        modelname=name.replace("residual.pickle", "").replace(params["tablename"], "")
    df.columns=[modelname+"_"+stock]
    residual_df = pd.merge(residual_df, df, left_index=True, right_index=True, how='outer')

residual_df

GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_aic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
GARCH_AR_^MERV_bic_residuals.pickle
HMM_univ_AR_^MERV_aic_residuals.pickle

TypeError: 'NoneType' object is not subscriptable

In [56]:
residual_df

,GARCH__aic_residuals.pickle_USD_^MERV,GARCH__bic_residuals.pickle_USD_^MERV
2013-01-03,NaN,NaN
2013-01-04,-0.006906,-0.006906
2013-01-07,-0.010700,-0.010700
2013-01-08,-0.001839,-0.001839
2013-01-09,0.016030,0.016030
...,...,...
2023-05-25,-0.001334,-0.001334
2023-05-26,-0.001113,-0.001113
2023-05-29,0.006995,0.006995
2023-05-30,-0.007141,-0.007141
2023-05-31,0.003233,0.003233

In [36]:
model = "GARCH_bic"
model_df = pd.DataFrame()
for stock in dict_with_dfs.keys():
    df=pd.DataFrame(dict_with_dfs[stock][f"{stock}_log_rets"])
    df.columns=[model+"_"+stock]
    model_df = pd.merge(model_df, df, left_index=True, right_index=True, how='outer')
model_df

,GARCH_bic_^MERV,GARCH_bic_GGAL,GARCH_bic_GGAL.BA,GARCH_bic_YPF,GARCH_bic_YPFD.BA,GARCH_bic_EDN,GARCH_bic_EDN.BA,GARCH_bic_BMA,GARCH_bic_BMA.BA
Date,,,,,,,,,
2013-01-04,0.005340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.029778
2013-01-07,-0.002761,NaN,0.000397,0.006480,0.010140,NaN,-0.034041,0.021805,0.009895
2013-01-08,0.006912,-0.016310,-0.010504,0.050017,0.047459,NaN,0.029647,-0.026702,-0.001352
2013-01-09,0.015941,0.011447,-0.001926,-0.017625,-0.003852,NaN,-0.003386,0.000338,-0.001703
2013-01-10,0.011513,0.009042,-0.002131,-0.007444,-0.000973,NaN,-0.001176,-0.007766,-0.001457
...,...,...,...,...,...,...,...,...,...
2023-05-23,0.003845,0.007700,0.015231,0.035028,0.036990,0.011520,0.025537,0.023451,0.101326
2023-05-24,0.000762,0.025296,0.014937,0.016955,0.009280,0.039384,0.010965,0.003902,0.006691
2023-05-29,0.012106,-0.000082,0.021864,-0.001813,0.008400,-0.000799,0.006649,0.001479,-0.007279
2023-05-30,-0.010680,0.037242,0.003431,0.014564,-0.021418,0.011486,0.010016,0.022958,0.000058
2023-05-31,-0.005015,0.015542,0.020421,-0.025972,-0.023022,0.022582,0.027213,-0.025108,-0.017785

In [34]:
df

            GARCH_bic_BMA.BA
Date
2013-01-04         -0.029778
2013-01-07          0.009895
2013-01-08         -0.001352
2013-01-09         -0.001703
2013-01-10         -0.001457
...                      ...
2023-05-23          0.101326
2023-05-24          0.006691
2023-05-29         -0.007279
2023-05-30          0.000058
2023-05-31         -0.017785

[2522 rows x 1 columns]